/* barlow-600 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-v11-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/barlow-v11-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/barlow-v11-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v11-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v11-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/barlow-v11-latin-600.svg#Barlow")
      format("svg"); /* Legacy iOS */
}

/* fraunces-700 - latin */
@font-face {
  font-family: "Fraunces 700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fraunces-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/fraunces-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v10-latin-700.svg#Fraunces") format("svg"); /* Legacy iOS */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces 900";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/fraunces-v10-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg"); /* Legacy iOS */
}

$barlow: "Barlow";
$fraunces700: "Fraunces 700";
$fraunces900: "Fraunces 900";
$white: white;
$black: black;
$gray: #808397;
$darkgray: #24303e;
$yellow: #fbd600;
$yellowLight: #fad400;
$lightRed: #fe7766;
$darkGreen: #24554a;
$darkBlue: #052c3b;
$lightGray: #a7aaad;
$blueGray: #5b636d;
$lightGreen: #90d4c6;
$green: #2c7566;
$greenLink: #458d7e;

* {
  box-sizing: border-box;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.header {
  height: 75vh;
  text-align: center;
  background-image: url(../img/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    background-image: url(../img/desktop/image-header.jpg);
    height: 89vh;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px;

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 21px;
    }

    @media (min-width: 792px) {
      padding: 32px;
    }

    &__logo {
      @media (min-width: 768px) {
        align-self: center;
      }
    }

    &__hamburger {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &__menu {
      list-style-type: none;
      display: none;
      flex-direction: column;
      background-color: $white;
      padding: 32px;
      width: 100%;
      height: 50vh;
      margin-top: 0;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        background: none;
        height: auto;
        width: auto;
        padding: 0;
        margin: 0;
      }

      &__item {
        padding: 32px;

        @media (min-width: 768px) {
          padding: 18px 47px;
        }

        &:nth-child(4) {
          background-color: $yellow;
          padding: 16px 32px;
          width: fit-content;
          border-radius: 28px;
          text-align: center;
          margin: 0 auto;

          @media (min-width: 768px) {
            margin: 0;
            background-color: $white;
            align-self: center;

            &:hover {
              color: $white;
              cursor: url(../img/pointer-hand.svg) 4 4, pointer;

              a:first-child {
                color: $white;
              }
            }

            &:hover {
              background-color: rgb(255, 255, 255, 0.25);
            }
          }
        }

        &__link {
          text-decoration: none;
          font-family: $barlow;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.142857px;
          color: $gray;

          &:hover {
            cursor: url(../img/pointer-hand.svg) 4 4, pointer;
          }

          @media (min-width: 768px) {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.128571px;
            color: $white;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    align-self: center;
    font-family: $fraunces900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: $white;
    padding: 88px 32px 52px 32px;

    @media (min-width: 768px) {
      font-family: $fraunces900;
      font-size: 56px;
      line-height: 69px;
      text-align: center;
      letter-spacing: 8.75px;
      padding: 120px 32px 96px 32px;
    }
  }
}

.contact {
  color: $darkgray;
  font-family: $fraunces700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 24px solid $white;
  border-left: 24px solid transparent;

  @media (min-width: 768px) {
    display: none;
  }

  &__wrapper {
    display: none;
    justify-content: flex-end;
    width: 100%;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.main {
  &__transform {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 36px 24px;

      @media (min-width: 768px) {
        width: 445px;
        height: 285px;
        align-self: center;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
      }

      &__title {
        font-family: $fraunces900;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        letter-spacing: -0.228571px;
        padding: 0 0 24px 0;

        @media (min-width: 768px) {
          text-align: start;
          padding: 0 0 32px 0;
        }
      }

      &__text {
        font-family: $barlow;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.128571px;
        color: $gray;
        padding: 0 0 32px 0;

        @media (min-width: 768px) {
          text-align: start;
          padding: 0 0 40px 0;
        }
      }

      &__learn-more {
        text-align: center;
        padding: 0px 9px;
        font-family: $fraunces900;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: rgb(250, 212, 0, 0.25) solid 8px;
        mix-blend-mode: normal;
        width: fit-content;
        align-self: center;

        &:hover {
          cursor: url(../img/pointer-hand.svg) 4 4, pointer;
        }

        @media (min-width: 768px) {
          align-self: flex-start;
        }
      }
    }

    &__img-div {
      @media (min-width: 768px) {
        width: 50%;
        order: 1;
      }

      &__img {
        width: 100%;

        @media (min-width: 768px) {
          height: 100%;
        }
      }
    }
  }

  &__stand-out {
    padding: 32px 0;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    &__wrapper {
      padding: 36px 24px;
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        width: 445px;
        height: 285px;
        align-self: center;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
      }

      &__title {
        font-family: $fraunces900;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        letter-spacing: -0.228571px;
        padding: 0 0 24px 0;

        @media (min-width: 768px) {
          text-align: start;
          padding: 0 0 32px 0;
        }
      }

      &__text {
        font-family: $barlow;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.128571px;
        color: $gray;
        padding: 0 0 32px 0;

        @media (min-width: 768px) {
          text-align: start;
          padding: 0 0 40px 0;
        }
      }

      &__learn-more {
        text-align: center;
        padding: 0px 9px;
        font-family: $fraunces900;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: rgb(254, 119, 102, 0.25) solid 8px;
        mix-blend-mode: normal;
        width: fit-content;
        align-self: center;

        &:hover {
          cursor: url(../img/pointer-hand.svg) 4 4, pointer;
        }

        @media (min-width: 768px) {
          align-self: flex-start;
        }
      }
    }

    &__img-div {
      @media (min-width: 768px) {
        width: 50%;
      }

      &__img {
        width: 100%;
        @media (min-width: 768px) {
          height: 100%;
        }
      }
    }
  }

  &__graphic-and-photography-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__graphic-design {
    background-image: url(../img/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    @media (min-width: 768px) {
      background-image: url(../img/desktop/image-graphic-design.jpg);
      width: 50%;
    }

    &__title {
      font-family: $fraunces900;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -0.2px;
      color: $darkGreen;
      padding: 400px 0 27px 0;
    }

    &__text {
      font-family: $barlow;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      letter-spacing: -0.114286px;
      color: $darkGreen;
      padding: 0 24px 59px 24px;
    }
  }

  &__photography {
    background-image: url(../img/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    @media (min-width: 768px) {
      background-image: url(../img/desktop/image-photography.jpg);
      width: 50%;
    }

    &__title {
      font-family: $fraunces900;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -0.2px;
      color: $darkBlue;
      mix-blend-mode: normal;
      opacity: 0.75;
      padding: 400px 0 27px 0;
    }

    &__text {
      font-family: $barlow;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      letter-spacing: -0.114286px;
      color: $darkGreen;
      padding: 0 24px 59px 24px;
    }
  }

  &__testimonials {
    &__title {
      text-transform: uppercase;
      font-family: $fraunces900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 4px;
      color: $lightGray;
      padding: 64px 0;
    }

    &__wrapper {
      @media (min-width: 768px) {
        display: flex;
        padding: 0 165px 64px;
      }
    }

    &__first,
    &__second,
    &__third {
      display: flex;
      flex-direction: column;

      &__photo-wrapper {
        align-self: center;

        &__img {
          border-radius: 50%;
          width: 72px;
          height: 72px;
        }
      }

      &__testimony {
        font-family: $barlow;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.128571px;
        color: $blueGray;
        padding: 32px 24px;
      }

      &__name {
        font-family: $fraunces900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.128571px;
        color: $darkgray;
        padding-bottom: 9px;
      }

      &__position {
        font-family: $barlow;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.1px;
        color: $lightGray;
        padding-bottom: 64px;
      }
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;

    & picture {
      width: 50%;

      @media (min-width: 768px) {
        width: 25%;
      }

      & img {
        vertical-align: middle;
        max-width: 100%;
      }
    }
  }
}

.footer {
  background-color: $lightGreen;

  &__logo {
    text-align: center;
    padding: 64px 0 40px 0;
    fill: $green;
  }

  &__nav {
    &__menu {
      display: flex;
      justify-content: space-around;

      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 57px;
      }

      &__item {
        list-style-type: none;

        &__link {
          text-decoration: none;
          font-family: $barlow;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -0.128571px;
          color: $greenLink;

          &:hover {
            cursor: url(../img/pointer-hand.svg) 4 4, pointer;
          }
        }
      }
    }
  }

  &__social {
    text-align: center;
    padding: 90px 0 81px 0;

    &__link {
      padding: 28px;

      & :hover {
        cursor: url(../img/pointer-hand.svg) 4 4, pointer;
      }

      & :hover {
        fill: $white;
      }
    }
  }
}
